Source: mwts-accounts-tests
Section: libs
Priority: optional
Build-Depends: libqt4-dev, mwts-common-dev(>=0.2.0), min-dev, libaccounts-qt-dev, libaccounts-qt1, libsignon-qt0, libsignon-qt-dev
Maintainer: Reijo Korhonen <reijo.korhonen@digia.com>
Standards-Version: 3.8.0

Package: mwts-accounts
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libqt4-core, mwts-common(>=0.2.0)
Description: MWTS-Accounts libraries
 Accounts MiddleWare Test Suite packages
 c++ interface

Package: mwts-accounts-scripts
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, mwts-accounts, min
Description: MWTS-Accounts Test cases
 Min interface and test cases
