Source: mwts-gcamera
Section: libs
Priority: optional
Build-Depends: debhelper, libqt4-dev, mwts-common-dev(>=0.2.0), min-dev, libglib2.0-0, libdbus-1-dev, libdbus-glib-1-dev,libgstreamer0.10-dev
Maintainer: Balazs Sipos <balazs.sipos@digia.com>
Standards-Version: 3.8.0

Package: mwts-gcamera
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libqt4-core, mwts-common(>=0.2.0), libgstreamer0.10-0
Description: Testing libraries for MIN
 MIN libraries for mwts-gcamera

Package: mwts-gcamera-scripts
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, mwts-gcamera, min
Description: Test cases for camera over gstreamer
 Test case files for mwts-gcamera
