Source: blts-v4l2-tests
Section: devel
Priority: extra
Maintainer: Mikko Ojala <mikko.ojala@digia.com>
Build-Depends: debhelper (>= 5.0.0), libjpeg62-dev, libbltscommon-dev (>= 0.3.0), libbltspixelformat-dev (>= 0.1.0), libxv-dev (>= 2:1.0.4), libx11-dev (>= 2:1.1.5)
Standards-Version: 3.8.0

Package: blts-v4l2-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: min | min-all
Description: Camera baselayer test module
 Tests camera systems through V4L2 API
