Source: blts-v4l2-tests
Section: devel
Priority: extra
Maintainer: Mikko Ojala <mikko.ojala@digia.com>
Build-Depends:
	debhelper (>= 5.0.0),
	cdbs,
	libjpeg62-dev,
	libbltscommon-dev (>= 0.3.0),
	libbltspixelformat-dev (>= 0.1.0),
	libxv-dev (>= 2:1.0.4),
	libx11-dev (>= 2:1.1.5)
Standards-Version: 3.8.0

Package: blts-v4l2-tests
Architecture: any
Priority: optional
Section: testing
Depends: ${shlibs:Depends}, ${misc:Depends}, blts-v4l2-tests-config
Recommends: min | min-all
Description: Camera baselayer test module
 Tests camera systems through V4L2 API

Package: blts-v4l2-tests-config-example
Architecture: any
Priority: optional
Section: testing
Provides: blts-v4l2-tests-config
Description: BLTS V4L2 test configuration example
 This package contains examples for creating a working configuration for
 BLTS V4L2 functional tests.
