Source: blts-ofono-tests
Section: devel
Priority: extra
Maintainer: Jussi Saavalainen <jussi.saavalainen@digia.com>
Build-Depends: debhelper (>= 5), libbltscommon-dev (>= 0.3.0), libc6-dev (>= 2.5.0-1osso7), libglib2.0-0, libdbus-1-dev, libdbus-glib-1-dev
Standards-Version: 3.8.0
Homepage: http://wiki.meego.com/Quality/TestSuite/oFono_Modem_API_Test_Plan

Package: blts-ofono-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbltscommon1 (>= 0.3.0)
Description: BLTS oFono functional tests
 This package contains oFono tests

