#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

config.status: configure
	dh_testdir

configure:

build: 
	qmake
	dh_testdir
	$(MAKE)
#doxygen Doxyfile

clean:
	dh_testdir
	dh_clean 
	[ ! -f Makefile ] || $(MAKE) distclean
#rm -rf doc/html/

install:
	dh_testdir
	dh_clean 
	dh_installdirs -s

	$(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/tmp

	dh_install --sourcedir=debian/tmp


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_strip
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
