Source: blts-alsa-core-tests
Section: devel
Priority: extra
Maintainer: Kimmo Myllyvirta <kimmo.myllyvirta@digia.com>
Build-Depends:
        debhelper (>= 5),
        cdbs,
        libbltscommon-dev (>= 0.2.4),
        linux-libc-dev | linux-kernel-headers,
        libglib2.0-0,
        libdbus-1-dev,
        libdbus-glib-1-dev
Standards-Version: 3.8.0

Package: blts-alsa-core-tests
Architecture: any
Priority: optional
Section: testing
Depends: ${shlibs:Depends}, ${misc:Depends}, blts-alsa-core-tests-config
Description: BLTS ALSA core test set
 This package contains functional tests for ALSA core.

Package: blts-alsa-core-tests-config-example
Architecture: any
Priority: optional
Section: testing
Provides: blts-alsa-core-tests-config
Description: BLTS Alsa core test configuration example
 This package contains examples for creating a working configuration for
 BLTS Alsa core functional tests.
