Source: blts-bluetooth-tests
Section: devel
Priority: extra
Maintainer: Jussi Saavalainen <jussi.saavalainen@digia.com>
Build-Depends: debhelper (>= 5),
        cdbs,
        libbluetooth-dev (>= 4.12) | libbluetooth3-dev (>= 4.12),
        libbltscommon-dev (>= 0.3.8), automake, pkg-config
Standards-Version: 3.8.0

Package: blts-bluetooth-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez (>= 4.12)
Recommends: min | min-all
Description: BLTS Bluetooth functional tests
 This package contains functional tests for the Bluez bluetooth stack.
