Source: blts-watchdog-tests
Section: devel
Priority: extra
Maintainer: Kimmo Myllyvirta <Kimmo.Myllyvirta@digia.com>
Build-Depends: debhelper (>= 5), libbltscommon-dev (>= 0.2.0)
Standards-Version: 3.8.0
Homepage: http://wiki.meego.com/Quality/TestSuite/MCTS

Package: blts-watchdog-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BLTS watchdog functional test set
 This package contains functional tests for kernel Watchdog Timers.

