Source: libbltssensorplugin-example
Section: devel
Priority: extra
Maintainer: Pasi Matilainen <pasi.matilainen@digia.com>
Build-Depends: debhelper (>= 5),
	libbltscommon-dev (>= 0.3.0),
	blts-sensors-frontend (>= 0.1.1),
	linux-libc-dev | linux-kernel-headers, automake, pkg-config
Standards-Version: 3.8.0

Package: libbltssensorplugin-example
Architecture: any
Priority: optional
Section: testing
Depends: ${shlibs:Depends}, ${misc:Depends}, blts-sensors-frontend (>= 0.1.1)
Description: BLTS example sensor test plug-in
 Example sensor test plug-in. Use blts-sensors-frontend
 to execute the tests.
