##
# Template non-functional test cases
#
# 01 NFT-SystemInfo-BatteryrTest-ITER

# 01
[Test]
title NFT-SystemInfo-BatteryrTest-ITER
createx libmin-mwts-systemInfo asset
asset SetTestTimeout 5000
loop 10
asset StartIteration
asset DBusThermalManagerTest
endloop
