Source: blts-opengles2-tests
Section: devel
Priority: extra
Maintainer: Kimmo Myllyvirta <kimmo.myllyvirta@digia.com>
# does not depend on gles2 on purpose - the packages are vendor specific
Build-Depends:
	debhelper (>= 5),
	libbltscommon-dev (>= 0.2.4),
	libx11-dev,
	libxcomposite-dev (>= 1:0.4.0),
	libxdamage-dev (>= 1:1.1.0),
	libxext-dev
Standards-Version: 3.8.0

Package: blts-opengles2-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbltscommon1 (>= 0.2.4)
Recommends: min | min-all
Description: BLTS OpenGL ES 2 Benchmark set
 This package contains functional tests and benchmarks for OpenGL ES 2.

