Source: blts-xvideo-tests
Section: devel
Priority: extra
Maintainer: Kimmo Myllyvirta <kimmo.myllyvirta@digia.com>
Build-Depends:
	debhelper (>= 5),
	cdbs,
	libbltscommon-dev (>= 0.2.4),
	libxv-dev (>= 2:1.0.4),
	libx11-dev (>= 2:1.1.5),
	libbltspixelformat-dev (>= 0.1.0)
Standards-Version: 3.8.0

Package: blts-xvideo-tests
Architecture: any
Priority: optional
Section: testing
Depends: ${shlibs:Depends}, ${misc:Depends}, blts-xvideo-tests-config
Description: BLTS XVideo test set
 This package contains functional tests for XVideo.

Package: blts-xvideo-tests-config-example
Architecture: any
Priority: optional
Section: testing
Provides: blts-xvideo-tests-config
Description: BLTS XVideo test configuration example
 This package contains examples for creating a working configuration for
 BLTS XVideo functional tests.
