Source: mwts-pim
Section: libs
Priority: optional
Build-Depends: debhelper, libqt4-dev, mwts-common-dev(>=0.2.0), min-dev
Maintainer: Arto Katajasalo <arto.katajasalo@digia.com>
Standards-Version: 3.8.0

Package: mwts-pim
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libqt4-core(>= 4.7.0), libqtm-organizer(>=1.1.0), libqtm-versit(>=1.0.2), libqtm-contacts(>=1.0.2), mwts-common(>=0.2.0)
Description: MWTS-Pim libraries
 
Package: mwts-pim-scripts
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, mwts-pim, min
Description: MWTS-PIM Test cases
 Min interface and test cases

